<li class="date">
  <h1><%= day.date.strftime('%a') %></h1>
  <h2><%= day.date.strftime('%d') %></h2>

  <p>Roberto, 3 tareas</p>
  <p>
  <span class="label label-info">sur</span>
  <span class="label label-info">centro</span>
  </p>
  <div class="btn-group btn-group-xs" role="group" aria-label="...">
    <button type="button" class="btn btn-primary">Elegir</button>
    <button type="button" class="btn btn-default">Detalles</button>
  </div>
</li>
