body {
  margin: 0;
  padding: 0;
}


ul.calendar {
  list-style: outside none none;

  .list-group {
	  min-height: 165px;
  }

  li.date {
    border-style: solid;
    border-color: #DDDDDD;
    border-width: 1px;
    padding: 0;
    vertical-align: top;
    width: 14%;
    min-width: 150px;
    float: left;
    position: relative;
  }
  li h1 {
    font-size: 1em;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid #dddddd;
    line-height: 31px;
  }
  li h2 {
    font-size: 1em;
    text-align: right;
    padding-right: 3px;
    margin: 0;
  }
  li .actions {
    text-align: center;
    margin: 0;
  }
  li p {
    font-size: 0.9em;
    padding-left: 5px;
  }
  li.inactive {
    opacity: 0.7;
    background-color: #EAE9E6;
  }
}
.my-btn{
  position: absolute;
  top: 0;
  right: 0;
}

