body {
  margin: 0;
  padding: 0;
}


ul.calendar {
  list-style: outside none none;

  li {
    border-style: solid;
    border-color: #DDDDDD;
    border-width: 1px;
    padding: 0;
    vertical-align: top;
    width: 14%;
    float: left;
    min-height: 125px;
  }
  li h1 {
    font-size: 1em;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid #dddddd;
  }
  li h2 {
    font-size: 1em;
    text-align: right;
    padding-right: 3px;
    margin: 0;
  }
  li .actions {
    text-align: center;
    margin: 0;
  }
  li .btn-group {
    width: 100%;
    padding: 5px;
  }
  li p {
    font-size: 0.9em;
    padding-left: 5px;
  }
  li.inactive {
    opacity: 0.7;
    background-color: #EAE9E6;
  }
}
