<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="<%= turns_path %>">Cronograma</a></li>
        <li><a href="<%= new_client_path %>">Nuevo llamado</a></li>
        <li><a href="<%= employees_path %>">Armadores</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/">Cerrar Session</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
